Options +FollowSymLinks
RewriteEngine On

############# http to https ##############
RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ https://www.andrew-godwin.com/$1 [R,L]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*)$ html/index.php?usrnme=$1 [NC]